<!DOCTYPE html>
<html lang="en">
<head>
    {% include "head.html" %}
</head>
<body>

{% include "navbar.html" %}
{% include "sidebars.html" %}

            <section class="py-1">
                <div class="row mt-5">
                    <div class="col-lg-10 offset-lg-1">
                        <h3>Data Kelas</h3>
                        {% for message in get_flashed_messages() %}
                        <div class="alert alert-success alert-dismissible fade show" role="alert">
                            {{ message }}

                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                        {% endfor %}
                        <hr>
                        <div class="row">
                            <div class="col-12">
                                <a href="/tambah_kelas" type="button" class="btn btn-success"><b>Tambah Kelas Baru</b></a>
                                <a href="{{ url_for('train_classifier') }}" onclick="return confirm('Apakah anda yakin ingin melakukan Training Data (Estimasi : +- 5 Menit)?')" class="btn btn-secondary"><b>Training Semua Data</b></a>
                            </div>
                        </div>

                        <br>
                        <div class="row">
                            <div class="col-md-3 offset-lg-2">

                            </div>
                        </div>

                        <br>
                        <table class="table" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>No</th>
                                    <th width="65%">Nama Kelas</th>
                                    <th>Aksi</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in data %}
                                    <tr>
                                        <td>{{loop.index}}</td>
                                        <td>{{item[1]}}</td>
                                        <td>
                                            <a href="/edit_kelas/{{item[0]}}" class="btn btn-sm btn-info text-white">Edit</a>
                                            <a href="/delete_kelas/{{item[0]}}" onclick="return confirm('Yakin ingin menghapus kelas {{ item[1] }} ?')" class="btn btn-sm btn-danger">Delete</a>
                                            <a href="/detail_kelas/{{item[0]}}" class="btn btn-sm btn-primary text-white">Detail</a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>

                        </table>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>

</body>
</html>